body {
  background: #0d1117;
  color: #58a6ff;
  
    font-family: "poppins" san-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px
}

.centrado{
  text-align:center;
  border:1px dotted #000; 
  padding:8px;
}

.container {
    
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.card {
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 50px;
.cartilla {
    transform-style: preserve-3d;
    min-height: 30vh;
    width: 25rem;
    border-radius: 10px;
    padding: 10rem 10rem;
    box-shadow: 0 20px 50px;
}
.logogithub {
    width: 8%;
}
element.style {
    transition: all 0.5s ease 0s;
    transform: rotateY(0deg) rotateX(0deg);
}



 
/*cambio de color+/

