body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: linear-gradient(135deg, rgba(171,248,231) 0%, rgba(156,53,182) 100%);
  }
  
  a {
    color: #00B7FF;
  }
  
  #homepage {
    justify-content: space-between;
  }
  
  
  #center {
    text-align: center;
  }